<nav>
<img alt="logo image" src="/assets/logo_noteTree.png" style="/* left:140px; */
margin: 20px;
padding-left: 25px;
">
<a id="course_link" href="/courses/">Courses</a>
<a id="notes_link" href="/notebooks/">Notes</a>
</nav>

<%= render 'form' %>

<%= link_to 'Back', course_lectures_path(@course) %>
