<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @version.reify.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @version.reify.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @version.reify.title %>
</p>
