body.user{
  background-image: url(/assets/background.png);
  background-repeat:repeat-x;
  background-position: 0px 305px;
  background-size: 100%;
  margin: 0;  
}

nav{
  background-color: #1D233C;
  height: 80px;
}

input{
  background-color: #F1F1F2;
  width: 220px;
  height: 35px;
  border-radius: 3px;
  margin: 10px;
  border: solid #B8BFCB 1px; 
  color: #B8BFCB;
  padding: 5px;
  font-size: 14px;
}

input[type="submit"]{
  background-color: #27BCB7;
  height:40px;
  width: 233px;
  color: white;
  border:none;
  padding: 5px;
  font-family: Mensch;
  font-size: 32px;
  padding-top: 8px;
}

form#new_account.new_account{
  margin-top: 40px;
  position: absolute;
  right: 265px;
  }

select#account_type{
  background-color: white;
  width: 232px;
  height: 35px;
  border-radius: 3px;
  margin: 10px;
  border: solid #B8BFCB 1px;
  color: #F16672;
  padding: 5px;
  font-size: 14px;
}

div.sign_up{
  position: absolute;
  right: 275px;
  top: 320px; 
}

div.sign_in{
  position: absolute;
  right: 275px;
  top: 565px; 
}

div.forgot_password{
  position: absolute;
  right: 275px;
  top: 340px; 
}

p.alert{
  position: absolute;
  right: 275px;
  top: 350px;
}

p.notice{
  position: absolute;
}

div.listing_courses{
  border: solid white 2px;
  padding: 25px;
  margin: 30px;
  width: 22%;
  height: 200px;
  background: white;
  float:left
}

div#course_index:nth-child(4n){
  clear: both;
}

div.listing_lectures{
  border: solid white 2px;
  padding: 25px;
  margin: 30px;
  width: 22%;
  height: 200px;
  background: white;
  float:left
}

div#lecture_index:nth-child(4n){
  clear: both;
}

div.listing_notebooks{
  border: solid white 2px;
  padding: 25px;
  margin: 30px;
  width: 22%;
  height: 200px;
  background: white;
  float:left
}

div#notebook_index:nth-child(4n){
  clear: both;
}

div#notebook_title{
  font-family: Mensch;
  font-size: 32px;
  color: #7C6FB2;
  padding-bottom: 3px;
}

div#lecture_title{
  font-family: Mensch;
  font-size: 32px;
  color: #7C6FB2;
  padding-bottom: 3px;
}

div#lecture_summary{
  font-family: Avenir;
  font-size: 24px;
  color: #B8BFCB;
  padding-top: 15px;
}

div#short_name{
  font-family: Mensch;
  font-size: 32px;
  color: #7C6FB2;
  padding-bottom: 3px;
}

div#course_name{
  font-family: Museo;
  font-size: 24px;
  color: #27BCB7;
  padding-top: 4px;
  padding-bottom: 4px;
}

div#course_description{
  font-family: Avenir;
  font-size: 24px;
  color: #B8BFCB;
  padding-top: 15px;
}

ul.display_options{
  display: inline;
  text-decoration: none;
  list-style: none;
  position: absolute;
  padding: 0px;
  margin:0px;
}

li{
  list-style-type: none;
  display: inline;
}

div#notebook{
  background: white;
  margin: 100px;  
}

div#show_course{
  background: white;
  margin: 100px; 
  margin-bottom: 15px;
}

div#show_lecture{
  background: white;
  margin: 100px; 
  margin-bottom: 15px;
}

p#lecture_title{
  border: none;
  background: white;
  font-family: Mensch;
  font-size: 48px;
  color: #7C6FB2;
  width: 80%;
  height: 60px;
  margin: 2px;
  padding-top: 35px;  
}

p#lecture_summary{
  color: #B8BFCB;
  border: none;
  width: 99%;
  margin: 2px;
  font-family: Avenir;
  font-size: 32px;
  margin-bottom: 25px;
}

p#course_short_name{
  border: none;
  background: white;
  font-family: Mensch;
  font-size: 48px;
  color: #7C6FB2;
  width: 80%;
  height: 60px;
  margin: 2px;
  padding-top: 35px;  
}

p.course_name{
  border: none;
  background: white;
  font-family: Mensch;
  font-size: 32px;
  color: #F16672;
  width: 50%;
  height: 50px;
  padding-bottom: 20px;
  margin: 2px;
}

p#course_description{
  color: #B8BFCB;
  border: none;
  width: 99%;
  margin: 2px;
  font-family: Avenir;
  font-size: 32px;
  margin-bottom: 25px;
}

div.show_options{
  margin-left: auto;
  margin-right:auto;
  width: 270px;
  text-align: center;
}

div#course{
  background: white;
  margin: 100px;  
}

input#course_short_name{
  border: none;
  background: white;
  font-family: Mensch;
  font-size: 48px;
  color: #7C6FB2;
  width: 80%;
  height: 60px;
  margin: 2px;
  padding-top: 35px;  
}

input#course_name{
  border: none;
  background: white;
  font-family: Mensch;
  font-size: 32px;
  color: #F16672;
  width: 50%;
  height: 50px;
  padding-bottom: 20px;
  margin: 2px;
}

textarea#course_description{
  border: none;
  width: 99%;
  margin: 2px;
  font-family: Avenir;
  font-size: 32px;
}

div#lecture{
  background: white;
  margin: 100px;  
}

input#lecture_title{
  border: none;
  background: white;
  font-family: Mensch;
  font-size: 48px;
  color: #7C6FB2;
  width: 99%;
  height: 100px;
  margin: 2px;
}

textarea#lecture_summary{
  border: none;
  width: 99%;
  margin: 2px;
  font-family: Avenir;
  font-size: 32px;
}

textarea#notebook_text{
  border: none;
  width: 99%;
  margin: 2px;
  font-family: Avenir;
  font-size: 32px;
}

input#notebook_title{
  border: none;
  background: white;
  font-family: Mensch;
  font-size: 48px;
  color: #7C6FB2;
  width: 50%;
  height: 100px;
  margin: 2px;
}

body {
  background-color: #F1F1F2;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #7C6FB2;
  text-decoration: none;

  &:visited {
    color: #7C6FB2;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

a#course_link{
  font-family: Avenir;
  font-size: 21px;
  color: white;
  padding: 30px;
  position: absolute;
}

a#notes_link{
  font-family: Avenir;
  font-size: 21px;
  color: white;
  padding: 30px;
  position: absolute;
  left:335px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
