nav{
  background-color: #1D233C;
  height: 80px;
}
form.new_account{
   
}

input{
  background-color: #F1F1F2;
  width: 220px;
  height: 35px;
  border-radius: 3px;
  margin: 10px;
  border: solid #B8BFCB 1px; 
  color: #B8BFCB;
  padding: 5px;
  font-size: 14px;
}

input[type="submit"]{
  background-color: #27BCB7;
  height:40px;
  width: 235px;
  color: white;
  border:none;
  padding: 5px;
  font-family: Mensch;
  font-size: 32px;
  padding-top: 8px;
}

form#new_account.new_account{
  margin-top: 100px;
  position: absolute;
  right: 165px;
}

div.sign_up{
  position: absolute;
  right: 175px;
  top: 390px; 
}

div.forgot_password{
  position: absolute;
  right: 175px;
  top: 410px; 
}

p.alert{
  position: absolute;
  right: 175px;
  top: 360px;
}

li{
  list-style-type: none;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #F1F1F2;

  &:visited {
    color: #F1F1F2;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
